@font-face {
  font-family: "GT Pressura";
  src: url(https://www.econify.com/fonts/gt-pressura-regular-web-webfont.woff);
}

:root {
  --r-heading-font: GT Pressura;
  --r-main-font: GT Pressura;
}

.byline {
  color: #b7b7b7;
}

#features {
  list-style-type: none;
}

.flex {
  display: flex;
  justify-content: center;
}

.logo {
  --r-block-margin: 0;
}
.logo + span {
  margin-left: 8px;
}
